.header-bar {
    padding: 0rem 1rem;

    .header-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 3px;
    }

    ion-icon {
        font-size: 2rem;
        /* Tamaño más grande para el icono */
        color: white;
    }
}